HTTP_ADDRESS=:8080
DATABASE_DSN=postgres://gophprofile:gophprofile@localhost:5432/gophprofile?sslmode=disable
AMQP_URL=amqp://gophprofile:gophprofile@localhost:5672/
AMQP_EXCHANGE=avatars.exchange
AMQP_QUEUE=avatars.worker
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=gophprofile
S3_SECRET_KEY=gophprofile-secret
S3_BUCKET=avatars
S3_USE_SSL=false
PUBLIC_BASE_URL=http://localhost:8080
SHUTDOWN_PERIOD=10s
